@using WidlyApp2.Models
<div>
    @{
        var numb = 1;
    }

    <h1>Movies</h1>
    <table class="table table-bordered table-hover">
        <thead class="tablehead">
            <tr>
                <th scope="col"><b>#</b></th>
                <th scope="col"><b>Title</b></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {

                <tr>
                    <th scope="row">@numb</th>
                    <td>@movie.Name</td>
                </tr>
                
                    numb++;
                

            }
        </tbody>
    </table>
</div>